body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    border-style: groove;
    border-radius: 1em;
    padding: 1em;
}
h1 {
    font-size: 3em;
    color: rgb(253, 4, 178);
    border-bottom-style: dotted;
    border-bottom-color: rgb(196, 56, 196) ;
    border-bottom-width: 0.25em;
}

p {
    font-size: 1.1em;
}

.special{
    font-weight: lighter;
    font-style: italic;
    font-size: large;
}

.contactInfo {
    font-weight: lighter;
}

address {
    border-style: groove;
    border-radius: 1em;
}

address {
    background-color: snow;
}